@import "variables";

.btn {
  padding: 12px 18px 12px;
  background: #444;
  border: 0;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  height: $input_height;
  display: inline-block;
}
.btn:hover {
  background: #000;
  text-decoration: none;
}

.btn--block {
  display: block;
  width: 100%;
  text-align: center;
}
.btn--large {
  height: auto;
  font-size: 15px;
  padding: 15px 20px;
}
.btn--small {
  font-size: 13px;
  padding: 10px 15px;
  height: auto;
}

.btn--success {
  background: $color_primary;
  color: white;
}
.btn.btn--success:hover {
  background: darken($color_primary, 10%);
}

.btn--danger {
  background: $color_error;
  color: white;

  &:hover{
    background: darken($color_error, 10%);
  }
}

.btn--discrete {
  background: transparent;
  border: 1px solid #DDD;
  color: #666;

  &:hover {
    background: #EEE;
  }
}