$screen_larger: 1200px;
$screen_large: 992px;
$screen_tablet: 768px;
$input_height: 44px;
$color_success: mediumseagreen;
$color_error: lightcoral;

$gutter_small: 15px;
$gutter_medium: 20px;
$gutter_big: 30px;